<%= render 'partial/navbar' %>
<div class="main">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="text-center">
            <span style="font-size:18px;">リスティング一覧</span>
          </div>
        </div>
        <ul class="ul-unstyled">
          <% @sharings.each do |sharing| %>
            <li class="panel-body">
              <div class="row-table">
                <div class="col-md-3 col-sm-3 col-middle row-space-2">
                  <div class="panel-list-img text-center">
                    <%= image_tag sharing.photos[0].image.url(:medium) if sharing.photos.length > 0 %>
                  </div>
                </div>

                <div class="col-sm-7 col-lg-7 col-middle row-space-2">
                  <span class="listing-title"><%= sharing.sharing_title %></span>
                </div>

  <!-- ほんとは下のコメントが正しいがajaxが動かないのか、そもそもnot_checkedのアクションが悪いのかでnot_checkedが作動しない -->
                <div class="col-md-3 col-sm-3 col-middle row-space-1">
                  <%= link_to "残り5ステップ", manage_sharing_basics_path(sharing), class: "btn btn-primary pull-right" %>
                </div>


                <div class="col-md-3 col-sm-3 col-middle row-space-1">
                  <%# if sharing.not_checked > 1%>
                      <%#= link_to "残り#{sharing.not_checked}ステップ", manage_sharing_basics_path(sharing), class: "btn btn-primary pull-right" %>
                  <%# else %>
                      <%#= link_to "編集する", manage_sharing_basics_path(sharing), class: "btn btn-success pull-right" %>
                  <%# end %>
                </div>

              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
