<!-- review routes is nested -->
<!-- form_forはcreateのアクションが実行される -->
<%= form_for([@sharing,@sharing.reviews.new]) do |f| %>



  <div class="form-group">
    <%= f.text_area :description,rows: 3,class: "form-control" %>
  </div>

<%= f.hidden_field :sharing_id, value: @sharing.id %>

  <div id="rate_stars"></div>

  <div class="actions">
    <%= f.submit "このわんちゃんを評価する", class: "btn btn-danger"%>
  </div>

<% end %>

<script type="text/javascript">
  $("#rate_stars").raty({
      path: '/assets',
      scoreName: 'review[rate]',
      score: 1
  });
</script>
